.about-project {
  width: 100%;
  min-height: 608px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-project__container {
  display: flex;
  flex-direction: column;
  width: calc(100% - 140px);
}

.about-project__text {
  display: flex;
  gap: 12px;
  margin: 70px 0 110px 0;
}

.about-project__info-text:first-of-type {
  margin-right: 40px;
}

.about-project__title {
  margin: 0 0 27px;
  padding: 0;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.8px;
}

.about-project__subtitle {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.about-project__duration {
  display: flex;
  width: 100%;
}

.about-project__short-duration {
  width: 20%;
  position: relative;
  text-align: center;
  background-color: #3ddc84;
  color: black;
  font-size: 14px;
  padding: 10px 14px;
  box-sizing: border-box;
}

.about-project__long-duration {
  width: 80%;
  position: relative;
  text-align: center;
  background-color: #303030;
  font-size: 14px;
  padding: 9px 14px;
  box-sizing: border-box;
}

.about-project__technology {
  display: flex;
  padding: 14px 8px 0 2px;
  gap: 10px;
  box-sizing: border-box;
}

.about-project__backend-tech {
  width: 20%;
  text-align: center;
  color: #8b8b8b;
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  font-style: normal;
}

.about-project__frontend-tech {
  width: 80%;
  text-align: center;
  color: #8b8b8b;
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  font-style: normal;
}

@media screen and (max-width: 1279px) {
  .about-project {
    min-height: 585px;
  }

  .about-project__container {
    width: calc(100% - 100px);
  }

  .about-project__text {
    margin-bottom: 93px;
    gap: 0;
  }

  .about-project__title {
    margin-bottom: 23px;
  }

  .about-project__subtitle {
    font-size: 12px;
    line-height: 18px;
  }

  .about-project__short-duration {
    width: 21%;
  }

  .about-project__technology {
    padding-left: 6px;
  }
}

@media screen and (max-width: 767px) {
  .about-project {
    min-height: 641px;
  }

  .about-project__container {
    width: calc(100% - 36px);
  }

  .about-project__text {
    flex-direction: column;
    margin-top: 63px;
    margin-bottom: 60px;
  }

  .about-project__info-text:first-of-type {
    margin-right: 0;
    margin-bottom: 56px;
  }

  .about-project__title {
    margin-bottom: 17px;
    font-size: 18px;
    letter-spacing: -0.72px;
  }

  .about-project__subtitle {
    font-size: 11px;
    line-height: 16px;
  }

  .about-project__short-duration {
    font-size: 11px;
    width: 35%;
    padding-top: 12px;
    padding-bottom: 10px;
  }

  .about-project__long-duration {
    font-size: 11px;
    width: 65%;
    padding-top: 12px;
    padding-bottom: 10px;
  }

  .about-project__backend-tech {
    font-size: 11px;
    line-height: normal;
    font-weight: 400;
    width: 36%;
  }

  .about-project__frontend-tech {
    font-size: 11px;
    line-height: normal;
    font-weight: 400;
    width: 67%;
  }

  .about-project__technology {
    padding: 10px 0 0 0;
    gap: 0;
  }
}
