@import url("./vendor/normalize.css");
@import url("./vendor/fonts/inter.css");
@import url("./components/Header/Header.css");
@import url("./components/Navigation/Navigation.css");

.body {
  min-width: 320px;
  margin: 0 auto;
  padding: 0;
  background-color: #202020;
  color: #FFF;
  font-family: 'Inter', Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

.link {
  transition: opacity 0.2s ease-in;
}

.link:hover {
  opacity: 0.7;
  cursor: pointer;
}

.button {
  transition: opacity 0.2s ease-in;
}

.button:hover {
  opacity: 0.7;
  cursor: pointer;
}
